/gradle/wrapper/gradle-wrapper.properties
##----------Android----------
# build
*.apk
*.ap_
*.dex
*.class

##----------dir----------
bin/
gen/
build/
data/
checkpoints/
tfrecord/
__pycache__/
nohup.out
logs/
cs231n/im2col_cython.cpython-36m-x86_64-linux-gnu.so
.ipynb_checkpoints/
cs231n/data*
# gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
build/

local.properties

##----------idea----------
*.iml
.idea/
*.ipr
*.iws

# Android Studio Navigation editor temp files
.navigation/
